
:root {
    --darkgreen: #099D8D;
    --lightgreen: #14D9C4;
    --white: #FFFFFF
    --black: #000000;
    --darkgray: #54585A;
    --lightgray: #B8B8B9;
    --graybackground: #F1F1F1;
}
header {
    background-color: #099D8D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    flex-wrap: wrap;
}
.h1 {
    color: white;
    font-weight: bold;
    font-family: rubik;
    text-transform: uppercase;
    padding: 20px;
    align-self: center;
}
.menu-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
    font-weight: bold;
    font-family: rubik;
    text-transform: uppercase;
    align-items: center;
    flex-wrap: wrap;
}
.menu-items a {
    text-decoration: none;
    padding: 30px;
    color: white;
}
.claim {
    background-image: url(../img/claimpic.png);
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.team {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: burlywood; */
    /* padding-top: ; */
    /* padding-bottom: ; */
}
.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.column-1 {
   width: 50%;
}
.column-strengths {
}
.column-text-1 {
}
.column-2 {
    width: 50%;
}
.column-goals {
}
.footer {
    font-family: Open Sans; 
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    border: solid 1px var(--lightgray);
    background-color: var(--white);
    justify-content: center;
    height: 250px;
}
.copyright {
    height: 20px;
    color: var(--lightgray);
    margin-top: 30px
}
.footer-menu {
    margin-top: 20px;
    margin-bottom: 30px;
    height: 60px;
    opacity: 0.75;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    text-transform: uppercase;
}
.footer-list li {
    list-style: none;
}
.footer-list a {
    color: var(--darkgray);
    text-decoration: none; 
}
.footer-logo img{
    width: 115.9px;
    height: 45px;
    margin-bottom: 45px;
}
@media screen and (min-width: 768px) {
    .footer {
        padding-left: 45px;
        padding-right: 45px;
        height: 170px;
        display: flex;
    }
    .copyright{
        position: sticky;
        right: 100%;
        margin-top: 30px;
        z-index: 0;
    }
    .footer-menu{
        position: sticky;
        left: 100%;
        margin-top: 25px;
        z-index: 1;
    }
    .footer-logo{
        position: sticky;
        right: 100%;
        margin-top: 60px;
        z-index: 3;
    }
}
@media screen and (min-width: 1200px) {
    .footer{
        padding-left: 138px;
        padding-right: 138px;
        height: 161px;
    }
}