:root {
    --darkgreen: #099D8D;
    --lightgreen: #14D9C4;
    --white: #FFFFFF;
    --black: #000000;
    --darkgray: #54585A;
    --lightgray: #B8B8B9;
    --graybackground: #F1F1F1;
}
.header {
    background-color: var(--darkgreen);
    display: flex;
    flex-direction: column;
    /* si queremos que el menú baje con el scroll
    position: fixed;
    top: 0;
    width: 100vw; 
    tendriamos que añadirle a la section 1 un margin-top para
    que no lo oculte*/
}
.header-h1 {
    align-self: center;
}
.h1 { 
    color: var(--white);
    font-size: 15px;
    font-family: rubik;
    text-transform: uppercase;
    padding: 10px;
}
.menu {
    background-color: var(--lightgreen);
}
.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 10px;
}
.menu-items a {
    color: var(--white);
    font-size: 15px;
    font-family: rubik;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
    .h1 {
        margin-left: 30px;
    }
    .menu {
        background-color: var(--darkgreen);
        margin-right: 30px;
    }
    .menu-items {
        width: 100%;
        height: 100%;
        align-items: center;
    }
}
@media (min-width: 1200px){
    .h1 {
        margin-left: 130px;
    }
    .menu {
        margin-right: 130px;
}

.claim {
    background-image: url(../img/claimpic.png);
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat; 
}
.team {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: burlywood; */
    /* padding-top: ; */
    /* padding-bottom: ; */
}
.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.column-1 {
   width: 50%;
}
.column-strengths {
}
.column-text-1 {
}
.column-2 {
    width: 50%;
}
.column-goals {
}
/* reemplazar colores por variables */

.footer {
    font-family: Open Sans; /* Habría que meter segunda opción? */
    border: solid 1px #b8b8b9;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;/* Gap size puesto a boleo */
     /*Confirmar padding size */
    padding-top: 30px;
    padding-bottom: 45px;
}
.footer-box{
    margin: auto;
    gap: 10px;/* Gap size puesto a boleo */
}
.copyright {
    color: #b8b8b9;
    /* Falta definir font size */
}
.footer-menu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    
    align-items: center;
    justify-content: space-around;
    gap: 5px;/* Gap size puesto a boleo */
}
.footer-list a {
    color: #54585a;
    text-decoration: none;   
}

.footer-logo img{
    /* Confirmar size */
    width: 115.9px;
    height: 45px;
}