$dark-green: #099D8D;
$light-green: #14D9C4;
$white: #FFFFFF;
$black: #000000 ;
$dark-gray: #54585A;
$light-gray: #B8B8B9;
$gray-background: #F1F1F1;
$font-title: Rubik;
$font-text: Open Sans;
$