.footer {
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  border-top: solid 1px $light-gray;
  background-color: $white;
  height: 250px;
}
.copyright {
  height: 20px;
  color: $light-gray;
  margin-top: 30px;
}
.footer-menu {
  margin-top: 20px;
  margin-bottom: 30px;
  height: 60px;
}
.footer-list li {
  list-style: none;
}
.footer-list a {
  color: $dark-gray;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.75;
}
.footer-logo img {
  width: 115.9px;
  height: 45px;
  margin-bottom: 45px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 45px;
    padding-right: 45px;
    height: 170px;
    display: flex;
  }
  .copyright {
    position: sticky;
    right: 100%;
    top: 30px;
  }
  .footer-menu {
    position: sticky;
    left: 100%;
    top: 24px;
  }
  .footer-logo {
    position: sticky;
    right: 100%;
    margin-top: 65px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-left: 138px;
    padding-right: 138px;
    height: 161px;
  }
}