.background-header {
  background-image: url(/images/video.gif);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.background-header-contact {
  background-image: url(/images/contact.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header {
  background-color: #099d8eba;
  display: flex;
  flex-direction: column;
}

.h1 {
  padding: 10px;
  align-self: center;
}
.h1 a{
  color: $white;
  font-size: $font-size-trend;
  font-family: $font-title;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.menu {
  background-color: #14d9c57a;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 10px;
}

.menu-items a {
  color: $white;
  font-size: $font-size-header;
  font-family: $font-title;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  .h1 {
    margin-left: 30px;
  }

  .menu {
    background-color: transparent;
    margin-right: 30px;
  }

  .menu-items {
    width: 100%;
    height: 100%;
    align-items: center;
  }


}

@media (min-width: 1200px) {
  .h1 {
    margin-left: 130px;
  }

  .menu {
    margin-right: 130px;
  }

}
