.team {
  display: flex;
  flex-direction: column;
  text-align: center;
  // align-items: center;
  height: fit-content;
  font-family: Open Sans;
  
}
.team-title {
  line-height: 1.88;
  color: $light-green;
  text-transform: uppercase;
  font-family: Rubik;
  font-size: 24px;
}
.team-description {
  line-height: 1.5;
  text-align: center;
  color: $dark-gray;
  padding: 15px 15px 30px 15px;
}
.square {
  background-color: $white;
  width: 30px;
  height: 30px;
  align-self: center;
  transform: rotate(45deg);
  margin-bottom: -15px;
  z-index: 5;
}

.box-2 {
  background-color: $gray-background;
  padding: 30px 15px 45px 15px;
  width: fit-content;

}

.column-title {
  font-family: Rubik;
  font-size: 22px;
  line-height: 2.05;
  color: $dark-green;
}

.goals {
  margin-top: 30px;
}

.column-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $dark-gray;
}


@media screen and (min-width: 768px) {
  .box-1 {
    padding: 45px 44.8px 60px 45px;
  }

  .team-title {
    color: $dark-green;
  }

  .box-2 {
    display: flex;
    flex-direction: row;
    padding: 45px;
    gap: 30px;
   
  }

  .column {
    width: 50%;
  }

  .goals {
    margin-top: 0;
  }
}


@media screen and (min-width: 1200px) {
  .box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-title {
    font-size: 30px;
    ;
  }

  .team-description {
    width: 681px;
    font-size: 20px;
  }
  .box-2 {
    gap: 90px;
    justify-content: center;
    width: 100vw;
  }
  .column {
    width: 439px;
  }
  .column-title {
    font-size: 28px;

  }
  .column-text {
    font-size: 20px;

  }

  // .box-2 {
  //   width: 1200px;
  //   height: 309px;
  //   margin: 16px 0 0;
  //   padding: 45px 138px 60px;
  //   text-align: center;
  //   opacity: 0.2;
  //   gap: 45px;
  // }

  // .column-strengths {
  //   width: 439px;
  //   height: 45px;
  //   margin: 0 38.2px 15px 0;
  //   font-size: larger;

  // }

  // .column-text-1 {
  //   width: 439px;
  //   height: 144px;
  //   margin: 15px 38.2px 0 0;
  //   padding-left: 138px;

  // }

  // .column-goals {
  //   width: 446.8px;
  //   height: 45px;
  //   margin: 0 0 15px 38.2px;

  // }

  // .column.column-text-2 {
  //   width: 439px;
  //   height: 144px;
  //   margin: 15px 1px 0 45px;
  //   padding-right: 139px;
  //   text-align: center;
  // }


}