.h2_section {
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  color: $dark-green;
  font-family: $font-title;
}
article {
  margin: 0 auto;
}
.img {
  width: 200px;
  margin: auto;
  > img {
    width: 100%;
    border: 4px solid $light-gray;
  }
}
.cards {
  padding: 30px;
    >p {
    text-align: center;
    padding: 5px;
    font-family: $font-text;
    font-size: 16px;
  }
}
.social-container {
  color: $dark-green;
  align-items: center;//demanar com aliniar correctament//
  >a {
    gap: 10px;
    color: $dark-green;
    text-decoration: none;
    cursor: pointer;
    &::after{
        content: ".";
        color:$dark-green ;
    }
  }
}

@media (min-width: 768px) {
  .who-we-are {
    max-width: 90vw;
    margin: auto;
  }
  article {
    display: flex;
    align-items: center;
    .cards {
      > p {
        text-align: left;
        font-size: small;
      }
    }
    &:nth-child(odd) {
      flex-direction: row-reverse;
      .cards {
        > p {
          text-align: right;
        }
      }
    }
  }
  .img {
    width: 30vw;
    margin: auto;
    > img {
      width: 100%;
      border: 4px solid var(--lightgray);
    }
  }
  .cards {
     width: 60vw;
    .social-container {
      margin: 5px;
    }
  }
}
@media (min-width: 1200px) {
  article {
    max-width: 70vw;
  }
}
