<footer class="footer">
    <div class="copyright footer-box">
      <p>
        Nombre del grupo © 2023
      </p> 
      <!-- Cambiar el nombre cuando se tenga -->
    </div>
    <nav class="footer-menu footer-box">
      <!-- Falta meter los enlaces a las sections -->
      <div class="footer-list">
        <a href="#">equipo</a>
      </div>
      <div class="footer-list">
        <a href="#">quiénes somos</a>
      </div>
      <div class="footer-list">
        <a href="#">contacto</a>
      </div>
    </nav>
    <figure class="footer-logo footer-box">
      <img src="./img/logo-adalab.png" alt="logo" />
    </figure>
</footer>