<footer class="footer">
  <div class="copyright">
    <p>Nombre del grupo © 2023</p>
    <!-- Cambiar el nombre cuando se tenga -->
  </div>
  <nav class="footer-menu">
    <!-- Falta meter los enlaces a las sections -->
    <ul class="footer-list">
      <li><a href="#team">Equipo</a></li>
      <li><a href="#who-we-are">Quienes somos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
  <figure class="footer-logo">
    <img src="/images/logo-adalab.png" alt="Adalab logo" />
  </figure>
</footer>
