<div class="info">
<h1 class="info__title">Contacto</h1>
<p class="info__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ratione cupiditate at magni blanditiis architecto! Nobis iste suscipit velit obcaecati ab mollitia amet alias. Iure consequuntur dolore saepe accusamus praesentium.</p>
<p class="info__required">Todos los campos marcados con <span class="info__required--icon">*</span> son obligatorios.</p>
</div>
<form action="https://formspree.io/f/mqkvrjkq" method="POST" class="form">
    <div>
        <label for="name" >Nombre completo <span class="info__required--icon">*</span></label> 
        <input type="text" id="name" placeholder="Nombre..." required>
    </div>

   <div>
    <label for="email">Email <span class="info__required--icon">*</span></label>
    <input type="email" id="email" placeholder="nombre.apellidos@mail.com" required>
   </div>

   <div>
    <label for="number">Teléfono</label>
    <input type="tel" id="number" placeholder="Ej:123456789" >
   </div>

   <div>
    <label for="message">Mensaje <span class="info__required--icon">*</span></label>
    <textarea name="message" id="message" cols="30" rows="10" placeholder="¿Qué necesitas?"></textarea>
   </div>
    
    <input class="form__button" type="submit" value="Enviar">    
</form>
