<div class="background-header-contact">
    <header class="header">
        <div class="h1">
             <h1 id="Nakama"><a  href="./#Nakama">Nakama</a></h1>
        </div>
        <nav class="menu">
            <ul class="menu-items">
                <li><a href="./#team">Equipo</a></li>
                <li><a href="./#who-we-are">Quienes somos</a></li>
                <li><a href="./contact.html" target="_blank">Contacto</a></li>
            </ul>
        </nav>
    </header>
</div>