<div class="background-header">
    <header class="header">
        <div class="h1">
             <h1 id="Nakama"><a  href="../index.html#Nakama">Nakama</a></h1>
        </div>
        <nav class="menu">
            <ul class="menu-items">
                <li><a href="../index.html#team">Equipo</a></li>
                <li><a href="../index.html#who-we-are">Quienes somos</a></li>
                <li><a href="../contact.html" target="_blank">Contacto</a></li>
            </ul>
        </nav>
    </header>
</div>