    <figure class="img">
        <img src="{=$img}" alt="{=$alt}">
    </figure>
    <div class="cards">
        <p class="name">
            {=$name} 
        </p>
        <p>
           {=$desc}
        </p>
        <span class="social-container">
            <a class="point" href="{=$social-twiter}">
                <i class="fa-brands fa-square-x-twitter"></i>
            </a>
            <a class="point" href="{=$social-linkedin}">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a class="point" href="{=$social-github}">
                <i class="fa-brands fa-github" class="icon"></i>
            <a href="{=$social-email}">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </span>
    </div>
