<section class="team" id="team">
  <article class="box-1">
    <h3 class="team-title">Equipo</h3>
    <p class="team-description">
      "Somos un equipo dinámico y apasionado formado por cinco mujeres con un objetivo: crear una página de presentación
      que destaque y demuestre los conocimientos adquiridos hasta ahora en maquetación. Gracias a la diversidad de
      habilidades y la trayectoria de cada una, hemos conseguido abordar este desafío con creatividad y con una fuerte
      ética colaborativa. En nuestro equipo, la sinergia es clave, y cada una de nosotras aporta su energía y dedicación
      para lograr llegar a cumplir los objetivos marcados"
    </p>
  </article>
  <div class="square"></div>
  <article class="box-2">
    <div class="column">
      <h4 class="column-title">Fortalezas</h4>
      <p class="column-text">
        Tenemos backgrounds muy diferentes, lo que nos aporta una visión multidisciplinar.
        Nuestro optimismo nos permite convertir los obstáculos en retos y oportunidades de aprendizaje.
        Creemos en una dinámica de equipo colaborativa, tolerante y flexible.
      </p>
    </div>

    <div class="column">
      <h4 class="column-title goals">Objetivos</h4>
      <p class="column-text">
        Queremos crear productos digitales accesibles y sólidos. Colaborar en comunidades tech bajo los valores Agile. Nuestro objetivo final es hacernos un hueco en el sector digital asumiendo el reto de la formación continua que requiere este mundo.
      </p>
    </div>
  </article>
</section>