<section class="team">    
    <article class="box-1">
      <h3 class="team-title">Equipo</h3>
      <p class="team-description">
        "Somos un equipo dinámico y apasionado formado por cinco mujeres con un objetivo: crear una página de presentación que destaque y demuestre los conocimientos adquiridos hasta ahora en maquetación. Gracias a la diversidad de habilidades y la trayectoria de cada una, hemos conseguido abordar este desafío con creatividad y con una fuerte ética colaborativa. En nuestro equipo, la sinergia es clave, y cada una de nosotras aporta su energía y dedicación para lograr llegar a cumplir los objetivos marcados"
      </p>
    </article>
    <div class="square"></div>
    <article class="box-2">
      <div class="column">
        <h4 class="column-title">Fortalezas</h4>
        <p class="column-text">
          Las fortalezas personales son aspectos de la personalidad
          considerados positivos o útiles para una vida estable y feliz, y
          que generalmente le permiten a las personas hacer frente a la
          existencia de una mejor manera. Esto último puede significar
          sobreponerse a problemas personales, mantener el rumbo de sus
          propios deseos o simplemente adaptarse con facilidad a
          determinados escenarios.
        </p>
      </div>

      <div class="column">
        <h4 class="column-title goals">Objetivos</h4>
        <p class="column-text">
          ¿Qué es un objetivo general? El objetivo general de un proyecto,
          una investigación o una organización, es la meta principal y
          global del mismo, es decir, su cometido último. Le da sentido al
          conjunto, el cual sólo puede alcanzarse una vez completados
          también los objetivos particulares o específicos.
        </p>
      </div>
    </article>
  </section>