<section class="team">
    <h3 class="team-title">Equipo</h3>
    <article>
      <p class="team-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
        dolore excepturi quas libero quisquam dolorem reprehenderit
        doloremque, id ullam consequuntur necessitatibus, corrupti a vel
        pariatur. Tempora corporis possimus corrupti asperiores? Lorem
        fistrum a gramenawer a peich condemor ese que llega amatomaa. Jarl
        la caidita no te digo trigo por no llamarte Rodrigor me cago en tus
        muelas. A gramenawer ese hombree diodeno torpedo por la gloria de mi
        madre. Por la gloria de mi madre ese pedazo de tiene musho peligro
        ese que llega condemor te va a hasé pupitaa torpedo pupita
        quietooor. Benemeritaar te voy a borrar el cerito qué dise usteer
        benemeritaar jarl al ataquerl condemor a peich papaar papaar papaar
        papaar. Torpedo te voy a borrar el cerito te voy a borrar el cerito
        te va a hasé pupitaa. Pecador pecador sexuarl diodenoo ese pedazo de
        caballo blanco caballo negroorl quietooor ahorarr mamaar. Ese
        hombree jarl la caidita hasta luego Lucas apetecan te va a hasé
        pupitaa.
      </p>
    </article>

    <article class="column">
      <div class="column-1">
        <h4 class="column-strengths">Fortalezas</h4>
        <p class="column-text-1">
          Las fortalezas personales son aspectos de la personalidad
          considerados positivos o útiles para una vida estable y feliz, y
          que generalmente le permiten a las personas hacer frente a la
          existencia de una mejor manera. Esto último puede significar
          sobreponerse a problemas personales, mantener el rumbo de sus
          propios deseos o simplemente adaptarse con facilidad a
          determinados escenarios.
        </p>
      </div>

      <div class="column-2">
        <h4 class="column-goals">Objetivos</h4>
        <p class="column-text-2">
          ¿Qué es un objetivo general? El objetivo general de un proyecto,
          una investigación o una organización, es la meta principal y
          global del mismo, es decir, su cometido último. Le da sentido al
          conjunto, el cual sólo puede alcanzarse una vez completados
          también los objetivos particulares o específicos.
        </p>
      </div>
    </article>
  </section>