<section class="who-we-are">
    <h2 class="h2_section">quiénes somos</h2>
    <article >
       <load src="/partials/member.html" img="./images/Tam_orange.png" alt="tamaraWeibel" name="Tamara Weibel Weibel " desc="Técnico de sonido y Licenciada en Comunicación audiovisual, tras muchos años dedicados a la ficción televisiva y los directos deportivos he dado el salto a un sector que parece estar en constante movimiento. Me encanta aprender y averiguar como funcionan las cosas y si es en equipo mucho mejor. Las grandes constantes de mi vida son los gatos y mi odio a los madrugones."/>
    </article>
    <article>
       <load src="/partials/member.html" img="./images/silvia.png" alt="silviaEscanciano" name="Silvia Escanciano" desc="Graduada en Psicología por la Universidad Autónoma de Madrid,
       estoy descubriendo el mundo de la tecnología. Me gustaría
       enfocar mi carrera profesional en este sentido y convertirme en desarrolladora frontend.
       Me considero una persona inquieta a nivel intelectual, positiva, orientada a
       objetivos y con predisposición al trabajo colaborativo."/>
    </article>
    <article>
       <load src="/partials/member.html" img="./images/laura.png" alt="Laura" name="Laura Sabrina Mellado Sánchez" desc="¡Hola! Soy Laura Sabrina, Técnica Superior en Información y Comercialización Turísticas,
       antigua jefa de sala de restaurante e n k l i m a (1 Sol Repsol, Guía Michelin) y ahora estudiante de programación web. Meta: ser full-stack developer.  Empática, paciente, perseverante, resolutiva y con una sonrisa siempre por bandera. Deseando aprender y colaborar con esta comunidad tech."/>
    </article>
    <article>
       <load src="/partials/member.html" img="./images/angela.png" alt="angela" name="Angela Ávila Lasanta" desc=""/>
    </article>
    <article>
       <load src="/partials/member.html" img="./images/michell.png" alt="Naidaly" name="Naidaly Ruiz Perez" desc="Amante del aprendizaje con bagaje en el sector social, específicamente en la resolución de conflictos y mediación con colectivos de alta vulnerabilidad.
       Por lo aprendido de mi background profesionales destaco mis habilidades de proactividad, trabajo en equipo, fácil adaptación a los cambios y comunicación asertiva.
       El constante crecimiento del sector tecnológico y las diversas áreas en las que se encuentra me motiva por convertirme en programadora y poder aportar así mi granito de arena.
        Deseo poder trabajar en entornos de buenas vibraciones con los cuales me sienta retada intelectualmente y así poder aportar el máximo.
       ¡Be water my frind!"/>
    </article>

</section>
